:root {
  --primary-color: #2fcc70;
  --gray-500: #A0AEC0;
  --gray-900: #1A202C;
}

body, html {
  margin: 0;
  padding: 0
}

html {
  box-sizing: border-box
}

*, ::after, ::before {
  box-sizing: inherit
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #444;
  padding: 0;
  margin: 0;
  min-width: 300px;
  position: relative;
  font-size: 15px;
  background: #fff
}

small {
  margin: 0;
  color: var(--gray-500);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.mr-3 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: .5em;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: .5em;
}

.p-0 {
  padding: 0;
}

.pt-1 {
  padding-top: .2em;
}

.p-2 {
  padding: .5em
}

.tsi__bg {
  background: var(--gray-900)
}

.tsi__name {
  font-weight: bold;
  color: var(--primary-color);
}
